In [94]:
#1. Hiển thị toàn bộ dữ liệu
import pandas as pd
df = pd.read_csv('./TH2to2.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [95]:
df.isnull().sum()

sepal.length    15
sepal.width     15
petal.length    15
petal.width     15
variety         15
dtype: int64

In [96]:
# 3. Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3
sepal_width = df[(df['sepal.length'] > 5)  & (df['sepal.width'] > 3)]
print(sepal_width)

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
10            5.4          3.7           1.5          0.2      Setosa
15            5.7          4.4           1.5          NaN      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3         NaN
18            5.7          3.8           1.7          NaN      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           NaN          0.2      Setosa
21            5.1          3.7           NaN          0.4      Setosa
23            5.1          3.3           1.7          0.5      Setosa
27            5.2          3.5           1.5          0.2         NaN
28            5.2          3.4           1.4          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2         NaN
36            5.5          3.5           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
44            5.1          3.8           1.9          NaN      Setosa
46            5.1          3.8           1.6          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4         NaN
51            6.4          3.2           4.5          NaN  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
70            5.9          3.2           4.8          1.8         NaN
86            6.7          3.1           4.7          1.5  Versicolor
100           6.3          3.3           6.0          NaN   Virginica
110           6.5          3.2           5.1          2.0   Virginica
115           6.4          3.2           5.3          2.3         NaN
117           7.7          3.8           6.7          2.2   Virginica
120           6.9          3.2           5.7          2.3   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
131           7.9          3.8           6.4          2.0   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
139           6.9          3.1           5.4          NaN   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica

In [97]:
# 2. Điền các giá trị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc
df['sepal.length'].fillna(df['sepal.length'].mean(),inplace=True)
df['sepal.width'].fillna(df['sepal.width'].mean(),inplace=True)
df['petal.length'].fillna(df['petal.length'].mean(),inplace=True)
df['petal.width'].fillna(df['petal.width'].mean(),inplace=True)

In [98]:
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0        5.100000     3.500000      1.400000      0.20000     Setosa
1        4.900000     3.000000      3.719259      0.20000     Setosa
2        4.700000     3.200000      1.300000      0.20000     Setosa
3        4.600000     3.100000      1.500000      1.18963     Setosa
4        5.000000     3.600000      1.400000      0.20000     Setosa
..            ...          ...           ...          ...        ...
145      6.700000     3.000000      5.200000      2.30000  Virginica
146      6.300000     3.054815      5.000000      1.90000  Virginica
147      5.852593     3.054815      5.200000      2.00000  Virginica
148      5.852593     3.400000      3.719259      2.30000  Virginica
149      5.900000     3.000000      5.100000      1.80000  Virginica

[150 rows x 5 columns]

In [99]:
df['variety'].fillna(df['variety'].mode()[0],inplace=True)

In [100]:
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0        5.100000     3.500000      1.400000      0.20000     Setosa
1        4.900000     3.000000      3.719259      0.20000     Setosa
2        4.700000     3.200000      1.300000      0.20000     Setosa
3        4.600000     3.100000      1.500000      1.18963     Setosa
4        5.000000     3.600000      1.400000      0.20000     Setosa
..            ...          ...           ...          ...        ...
145      6.700000     3.000000      5.200000      2.30000  Virginica
146      6.300000     3.054815      5.000000      1.90000  Virginica
147      5.852593     3.054815      5.200000      2.00000  Virginica
148      5.852593     3.400000      3.719259      2.30000  Virginica
149      5.900000     3.000000      5.100000      1.80000  Virginica

[150 rows x 5 columns]

In [101]:
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [106]:
#4. Chuẩn hóa dữ liệu theo MinMax
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
#df['sepal.length']=mms.fit(df[['sepal.length']])
df['sepal.length']=mms.fit_transform(df[['sepal.length']])
df['sepal.width']=mms.fit_transform(df[['sepal.width']])
df['petal.length']=mms.fit_transform(df[['petal.length']])
df['petal.width']=mms.fit_transform(df[['petal.width']])
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.460891     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.454012     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.439506      0.677966     0.750000  Virginica
147      0.431276     0.439506      0.711864     0.791667  Virginica
148      0.431276     0.583333      0.460891     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

In [108]:
#5.Liên tục hoá trường variety
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['variety']=le.fit_transform(df['variety'])
print(df)

     sepal.length  sepal.width  petal.length  petal.width  variety
0        0.222222     0.625000      0.067797     0.041667        0
1        0.166667     0.416667      0.460891     0.041667        0
2        0.111111     0.500000      0.050847     0.041667        0
3        0.083333     0.458333      0.084746     0.454012        0
4        0.194444     0.666667      0.067797     0.041667        0
..            ...          ...           ...          ...      ...
145      0.666667     0.416667      0.711864     0.916667        2
146      0.555556     0.439506      0.677966     0.750000        2
147      0.431276     0.439506      0.711864     0.791667        2
148      0.431276     0.583333      0.460891     0.916667        2
149      0.444444     0.416667      0.694915     0.708333        2

[150 rows x 5 columns]

In [110]:
#6
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
model=LinearRegression()
col_numberic=['sepal.length','sepal.width','petal.length','petal.width']
X=df[col_numberic]
y=df.variety
X_train,y_train,X_test,y_test=train_test_split(X,y,test_size=0.1,random_state=0)

In [112]:
model.intercept_,model.coef_

(0.11040640218256004,
 array([ 0.16914673, -0.26723763,  1.21005519,  1.06397976]))

In [113]:
#7
df_7=df.sample(frac=0.5)
df_7

     sepal.length  sepal.width  petal.length  petal.width  variety
95       0.388889     0.439506      0.542373     0.458333        1
37       0.166667     0.666667      0.067797     0.000000        0
64       0.361111     0.375000      0.440678     0.500000        1
21       0.222222     0.708333      0.460891     0.125000        0
52       0.431276     0.458333      0.661017     0.583333        1
..            ...          ...           ...          ...      ...
112      0.694444     0.416667      0.762712     0.833333        2
135      0.944444     0.416667      0.864407     0.916667        2
51       0.583333     0.500000      0.593220     0.454012        1
87       0.555556     0.125000      0.576271     0.500000        1
14       0.416667     0.439506      0.033898     0.041667        0

[75 rows x 5 columns]

In [120]:
#8
df['sepal.length']=pd.cut(df['sepal.length'],bins=[0.0,0.2,0.4,0.6,0.8,1.0],labels=['<20%','<40%','<60%','<80%','>80%'])

In [121]:
print(df)

    sepal.length  sepal.width  petal.length  petal.width  variety sepal_length
0           <40%     0.625000      0.067797     0.041667        0         <40%
1           <20%     0.416667      0.460891     0.041667        0         <20%
2           <20%     0.500000      0.050847     0.041667        0         <20%
3           <20%     0.458333      0.084746     0.454012        0         <20%
4           <20%     0.666667      0.067797     0.041667        0         <20%
..           ...          ...           ...          ...      ...          ...
145         <80%     0.416667      0.711864     0.916667        2         <80%
146         <60%     0.439506      0.677966     0.750000        2         <60%
147         <60%     0.439506      0.711864     0.791667        2         <60%
148         <60%     0.583333      0.460891     0.916667        2         <60%
149         <60%     0.416667      0.694915     0.708333        2         <60%

[150 rows x 6 columns]